# Database (Supabase PostgreSQL)
DATABASE_URL="postgresql://postgres:[ayeshailyas123]@db.lbglxcxxbsovxvvuiyfg.supabase.co:5432/postgres"

# Supabase Auth
NEXT_PUBLIC_SUPABASE_URL="https://lbglxcxxbsovxvvuiyfg.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxiZ2x4Y3h4YnNvdnh2dnVpeWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc2MjQzMjUsImV4cCI6MjA5MzIwMDMyNX0.Vjir_ZnHnMmYg4sJl5Ni1G-kLfNuWUTS3vtu6eCNAxs"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxiZ2x4Y3h4YnNvdnh2dnVpeWZnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzYyNDMyNSwiZXhwIjoyMDkzMjAwMzI1fQ.RkstjZ6UC1uHvuC0ZSYZLTW7vfwYpBO4Fp4YT15dczo"

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="uds2iz2s"
CLOUDINARY_API_KEY="573422946654134"
CLOUDINARY_API_SECRET="ItL4FpWlsqigqj36Uj41veW5qes"

# Google Maps
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY="AIzaSyDwIZ0a3nuSBevxejUmC1lOB1fK4DG9C7A"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"

